@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
@import url('https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css');

.fillDetails_innerbox{
    position: absolute;
    margin-top: 110px;
    margin-bottom: 500px;
    width: calc(100% - 4.1rem);
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.fillDetails_form{
    position: relative;
    /* background-color: red; */
    width: 47%;
    height: 100%;
    border-radius: 2rem;
    background-color: #f5f5f5;
}

form.fillDetails_form1{
    /* background-color: red; */
    max-width: 260px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    /* background-color: white; */
}

.fillDetails_back{
    height: 20px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    background-color: rgb(40, 40, 75);
}

.fillDetails_back i{
  width: 15px;
  margin: 0.3rem;
  transition: .3s;
  color: white;
  margin-left: 20px;
  
}

.fillDetails_back h4{
  font-size: 0.7rem;
  letter-spacing: -0.5px;
  color: white;
  transition: .3s;
}

.fillDetails_back:hover{
  cursor: pointer;
  background-color: #0056b3;
}

.fillDetails_input_wrap{
    position: relative;
    height: 37px;
    margin-top: 20px;
    margin-bottom: 2rem;
}

.fillDetails_input_field{
  margin-top: -30px;
    position: absolute;
    width: 100%;
    height: 100%;
    background: none;
    border: none;
    outline: none;
    border-bottom: 1px solid #bbb;
    padding: 0;
    font-size: 0.95rem;
    color: #151111;
    transition: .4s;
}

.fillDetails_input_field::-webkit-inner-spin-button,
.fillDetails_input_field::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
  display: none;
}

label.label_edit_details{
    margin-top: -30px;
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    font-size: 0.95rem;
    color: #bbb;
    pointer-events: none;
    transition: .4s;
}

.fillDetails_input_field.active{
    border-bottom-color: #151111;

}

.fillDetails_input_field.active + label{
    font-size: 0.75rem;
    top: -2px;
}

.fill_details_btn{
    display: inline-block;
    width: 100%;
    height: 43px;
    background-color: rgb(40, 40, 75);
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    font-size: .8rem;
    transition: 0.3s;
    margin-bottom: 60px;
}

.fill_details_btn:hover{
    background-color: #8371fd;
}

.text{
  color: #bbb;
  font-size: 0.9rem;
}

.text a{
  color: black;
  transition: 0.3s;
  text-decoration: underline;
}

.text a:hover{
  color: #8371fd;
}

.fillDetails_footer{
    position: fixed;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 1000px;
    height: 20px;
    background-color: black; 
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 14px;
    font-weight: 500;
    border-radius: 0.2rem;
}

@media (max-width: 390px){

    .fillDetailsBody{
        /* background-color: green; */
        /* height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; */
        min-width: 400px;
        overflow: hidden;
        min-height: 700px;
    }

    .fillDetails_content{
        /* background-color: blue; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
    }

    .fillDetails_content .fillDetails_box{
        min-height: 610px;
        min-width: 300px;
        overflow: hidden;
        /* background-color: black; */
        padding: 0 0 0;
    }
    
     
    .fillDetails_box .fillDetails_innerbox{
        /* background-color: red; */
        position: static;
        transform: none;
        width: revert;
        height: 100%;
        
    }

    .fillDetails_form{
        /* background-color: black; */
        position: revert;
        height: 75%;
        overflow-y: auto;
        min-width: 300px;
        padding: 0rem 1rem 0rem;
        border-radius: 2rem;
        
    }
    
    form.fillDetails_form1{
        /* background-color: red; */
        position: revert;
        width: 100%;
        overflow: auto;
    }
    
    .fillDetails_back{
        /* background-color: green; */
        margin-top: -60px;
        border-radius: 2rem;
    }
    
    .fillDetails_heading{
        /* background-color: blue; */
        margin-top: 20px;
    }
    
    .fillDetails_actual_form{
        margin-top: 35px;
        /* background-color: green; */
    }
    
    .report_issue_btn{
        margin-top: -30px;
    }
    
    .fillDetails_footer{
        width: 380px;
        position: fixed;
        bottom: 0;
    }

}

@media (max-width: 450px){

    .fillDetailsBody{
        /* background-color: green; */
        /* height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center; */
        min-width: 400px;
        overflow: hidden;
        height: 700px;
    }

    .fillDetails_content{
        /* background-color: blue; */
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
    }

    .fillDetails_content .fillDetails_box{
        min-height: 650px;
        min-width: 300px;
        overflow: hidden;
        /* background-color: black; */
        padding: 0 0 0;
    }
    
     
    .fillDetails_box .fillDetails_innerbox{
        /* background-color: red; */
        position: static;
        transform: none;
        width: revert;
        height: 100%;
        
    }

    .fillDetails_form{
        /* background-color: black; */
        position: revert;
        height: 75%;
        overflow-y: auto;
        min-width: 300px;
        padding: 0rem 1rem 0rem;
        border-radius: 2rem;
        
    }
    
    form.fillDetails_form1{
        /* background-color: red; */
        position: revert;
        width: 100%;
        overflow: auto;
    }
    
    .fillDetails_back{
        /* background-color: green; */
        margin-top: -60px;
        border-radius: 2rem;
    }
    
    .fillDetails_heading{
        /* background-color: blue; */
        margin-top: 50px;
    }
    
    .fillDetails_actual_form{
        margin-top: 35px;
        /* background-color: green; */
    }
    
    .report_issue_btn{
        margin-top: -30px;
    }
    
    .fillDetails_footer{
        width: 380px;
        position: fixed;
        bottom: 0;
    }

}
