/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.table-container {
  margin: 20px;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: left;
  text-align: center;
}

.data-table th {
  background-color: #f2f2f2;
}
.videoButton {
  background-color: rgb(40, 40, 75);
  color: white;
  border: 0px;
  border-radius: 5px;
  padding: 10px;
  cursor: pointer;
}

.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.signup-form {
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
}

input {
  width: 100%;
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

button {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  color: #fff;
  background-color: #007bff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #0056b3;
}

.table-container {
  font-family: Arial, sans-serif;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.data-table th,
.data-table td {
  border: 1px solid #ddd;
  padding: 8px;
}

.data-table th {
  background-color: #f2f2f2;
  text-align: left;
}

.data-table tbody tr:nth-child(even) {
  background-color: #f2f2f2;
}

.data-table tbody tr:hover {
  background-color: #ddd;
}

.videoButton:hover {
  background-color: #45a049;
}

/* description */

.flex-container {
  display: flex;
  flex-direction: column;
  min-height: 110vh;
}

.main-content {
  flex: 1;
  padding: 1rem;
  background-color: #f5f5f5;
  text-align: center;
}

.table-container {
  width: 100%;
  border: 1px solid;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.table-header {
  background-color: #f2f2f2;
}

.table-cell {
  border: 1px solid;
}

.description-container {
  margin-bottom: 20px;
  text-align: left;
}
.dialog_button {
  width: 100px;
  display: block;
  margin-bottom: 10px;
}
#my-dialog {
  border: 0px;
  border-radius: 10px;
  box-shadow: 5px;
}
